@media (max-width: 900px) {
    .footer_right_container{
        margin: auto;
    }
    .footer_link_container h2{
        font-size: 15px;
    }
    .footer_checkbox_text{
        width: 80% !important;
    }
}
@media (min-width: 300px) {
    .footer_form_container{
        padding-left: 50px !important;
    }
}

.footer_right_container{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}


