@media (min-width: 900px){
    .banner_button{
        width: 170px;
        height: 65px;
        font-size: 20px !important;
        border-color: #FFD56F !important;
    }
    .banner_button:hover{
        border-color: #ffd46fb7 !important;
    }
}
@media (max-width: 1700px){
    .banner_text_div{
        top: 30% !important;
    }
}

@media (max-width: 930px) {
    .banner_text{
        font-size: 20px !important;
    }
    .banner_text_div{
        top: 25% !important;
    }
}

@media (max-width: 500px){
    .banner_image{
        width: 100% !important;
        height: 350px !important;
    }
    .banner_image_l{
        display: none !important;
    }
    .banner_image_r{
        object-fit: cover;
    }
}

.banner_container{
    position: relative;
}

.banner_image{
    width: 50%;
    height: 100%;
    filter: brightness(50%); 
}

.banner_text_div{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 37%;
    left: 0;
    right: 0;
    text-align: center;
}

.banner_text{
    color: white;
    margin-bottom: 20px !important;
}
.banner_button{
    border-width: 3px !important;
}

